body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #df9f9f;
    padding: 10px;
    color: white;
}

.logo img {
    height: 50px;
    width: auto;
    mix-blend-mode: multiply;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.toggle-btn {
    display: flex;
    font-size: none;
    cursor: pointer;
    font-size: 20px;
}

/* Responsive Styles */
@media (max-width: 780px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 72px;
        left: 0px;
        width: 100px;
        background-color: #836565;
    }
    .menu li {
        margin: 10px 0;
    }
    .toggle-btn {
        display: block;
    }
    .menu.show {
        display: flex;
    }
}

/* additional responsive styles */
@media (max-width: 480px) {
    .logo img {
        height: 40px;
    }

    .menu li a {
        font-size: 16px;
    }
}